<% @title = "問い合わせ" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>問い合わせ<span>CONTACT</span></h2>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>