<% @title = "お問い合わせ" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>お問い合わせ<span>CONTACT</span></h2>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container-fuild font">
    <h2>募集内容</h2>
    <p>メールorDMで募集</p>
    <h3>
        メールアドレス
        <span>
            MailAddress
        </span>
    </h3>
    <p>nashizumi@gmail.com</p>
    <h3>
        公式Instagram
        <span>
            OfficialInstagram
        </span>
    </h3>
    <p>@auelu_official</p>
    <%= link_to "https://www.instagram.com/auelu_official", class: 'instagram-font' do %>
        <i class="fab fa-instagram fa-fw"></i>
        Instagram
    <% end %>
    <h3>
        公式Twitter
        <span>
            OfficialTwitter
        </span>
    </h3>
    <p>@AUELU18FUTSAL</p>
    
    <%= link_to "https://twitter.com/AUELU18FUTSAL", class: 'twitter' do %>
        <i class="fab fa-twitter fa-fw"></i>
        twitter
    <% end %>
</div>