<% @title = "お問い合わせ" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>お問い合わせ<span>CONTACT</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container-fuild font font-contact">
    <h2>募集内容</h2>
    <p>・フットサルに興味がある
（経験、未経験関係なし！）</p>

<p>・加入後、チーム活動に積極的に参加できる</P>

<p>＊加入によるセレクション等は行っていません</p>

<p>練習参加希望の方あるいは練習試合の申し込み相談はメールorDMお待ちしてます！</p>
    <h3 id="mail">
        メールアドレス
        <span>
            MailAddress
        </span>
    </h3>
    <p>nashiizumi@gmail.com</p>
    <h3 id="insta">
        公式Instagram
        <span>
            OfficialInstagram
        </span>
    </h3>
    <p>@auelu_official</p>
    <%= link_to "https://www.instagram.com/auelu_official", class: 'instagram-font' do %>
        <i class="fab fa-instagram fa-fw"></i>
        Instagram
    <% end %>
    <h3 id="twitter">
        公式Twitter
        <span>
            OfficialTwitter
        </span>
    </h3>
    <p>@AUELU18FUTSAL</p>
    
    <%= link_to "https://twitter.com/AUELU18FUTSAL", class: 'twitter' do %>
        <i class="fab fa-twitter fa-fw"></i>
        twitter
    <% end %>
</div>