<% @title = "お問い合わせ" %>
<% @description = "大阪府高槻市の体育館で主に活動をしている社会人フットサルチームです。アウエルへのお問い合わせはこちらからお願いいたします！" %>
<%= javascript_pack_tag 'contact_vue' %>

<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>お問い合わせ<span>CONTACT</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>

<div id="contact"></div>

