<% @title = "チーム概要" %>
<% @description = "大阪府高槻市の体育館で主に活動をしている社会人フットサルチームです。アウエルのチームの概要はこちらから確認いただけます！" %>

<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>チーム紹介<span>INTRODUCE</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container-fuild font">
    <h2 id="about">
        チームアウエルについて
        <span>
            AboutTeamAuelu
        </span>
    </h2>
    <p class="auelu-about">
        auxo成長を司るギリシャ神話の女神
ueltex　ラテン語の頂、頂上

上記の二つの言葉を融合して、成長し続ける頂という意味を持たせてアウエルという名前を創りました。

因みに私の中での成長し続ける頂とは今でも高くなり続けているヒマラヤ山脈ですが、アウエルに関わる皆が成長し続けることができる場であって欲しいという願いを込めています
    </p>
    <div>
        <h2 id="outline">
        チーム情報
            <span>
                Outline
            </span>
        </h2>
    <table>
        <tbody>
        <tr>
            <th>
                クラブ名
            </th>
            <td>TEAM*AUELU</td>
        </tr>
        <tr>
            <th>
                設立
            </th>
            <td>2005年</td>
        </tr>
        <tr>
            <th>
                活動地域
            </th>
            <td>大阪府(主に高槻、茨木、吹田等の北大阪)</td>
        </tr>
        <tr>
            <th>
                チーム代表者
            </th>
            <td>吉田 周一</td>
        </tr>
        <tr>
            <th>
                所属メンバー数
            </th>
            <td>サッカー含め100名前後</td>
        </tr>
        <tr>
            <th>
                所属団体
            </th>
            <td>大阪府フットサル連盟、大阪府サッカー協会、茨木市サッカー連盟</td>
        </tr>
        </tbody>
    </table>
    <div class="unipadding">
            <h2 id="uniform">
        ユニフォーム
            <span>
                Uniform
            </span>
        </h2>
        <div class="container font">
            <div class="row">
            <div class="col-sm-12 col-lg-6">
            <h3>ホーム</h3>
        <%= image_tag 'uniform1.jpg', :size =>"350x250", :alt => 'ホームユニフォーム' %>
        </div>
        <div class="col-sm-12 col-lg-6">
            <h3>アウェー</h3>
        <%= image_tag 'uniform2.jpg', :size =>"350x250", :alt => 'アウェーユニフォーム' %>
        </div>
        </div>
        </div>
    </div>
    </div>
</div>

