<% @title = "チーム概要" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>チーム紹介<span>INTRODUCE</span></h2>
        <ul class="link">
            <li>
                <%= link_to "HOME", root_path %>    
            </li>
            <li>
                >
            </li>
            <li>
                チーム概要
            </li>
        </ul>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container-fuild font">
    <h3>
        チームアウエルについて
        <span>
            AboutTeamAuelu
        </span>
    </h3>
    <p>
        aaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
    <div>
        <h3>
        チーム情報
            <span>
                Outline
            </span>
        </h3>
    <table>
        <tbody>
        <tr>
            <th>
                クラブ名
            </th>
            <td>チームアウエル</td>
        </tr>
        <tr>
            <th>
                設立
            </th>
            <td></td>
        </tr>
        <tr>
            <th>
                活動地域
            </th>
            <td></td>
        </tr>
        <tr>
            <th>
                チーム代表者
            </th>
            <td></td>
        </tr>
        <tr>
            <th>
                所属メンバー数
            </th>
            <td></td>
        </tr>
        <tr>
            <th>
                所属団体
            </th>
            <td></td>
        </tr>
        </tbody>
    </table>
    <h3>
        ユニフォーム
            <span>
                Uniform
            </span>
        </h3>
        <h3>
        クラブの歴史
            <span>
                ClubHistory
            </span>
        </h3>
    </div>
</div>

