<% @title = "予定" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>練習・試合予定<span>SCHEDULE</span></h2>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container minheight">
    <%= render '/schedules/schedule' %>
</div>
    