<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>タイトル</th>
    </tr>
  </thead>
  <tbody>
    <% GameResult.all.each do |d| %>
    <tr>
      <th><%= d.gamedate %></th>
      <th>
        <div class = 'result'>
            <a>
                <%= link_to d.gametitle, "result/#{d.id}" %>
            </a>
        </div>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>