<table>
  <thead>
    <tr>
      <th>名前</th>
      <th>誕生日</th>
      <th>高校</th>
      <th>しょぞく、、、、、？</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </tbody>
</table>