<% @title = "選手紹介" %>
<% @description = "大阪府高槻市の体育館で主に活動をしている社会人フットサルチームです。アウエルの選手紹介はこちらから確認いただけます！" %>

<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>選手紹介<span>PLAYER</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<%= render '/users/user' %>