<% @title = "選手紹介" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>選手紹介<span>PLAYER</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<%= render '/users/user' %>