<table>
  <thead>
    <tr>
      <th>日付</th>
      <th>内容</th>
    </tr>
  </thead>
  <tbody>
    <% Schedule.order("date").each do |s| %>
      
        <tr>
          <th><%= s.date %></th>
          <th><%= s.content %></th>
       </tr>

    <% end %>
  </tbody>
</table>