<div>
    <h4>アーカイブ</h4>
<ul>
       <% @archives.each do |yyyymm, count| %>
            <li><%= link_to ymconv(yyyymm, count.to_s), results_archive_path(yyyymm) %></li>
       <% end %>
</ul>
</div>
