<% @title = "試合結果" %>
<% @description = "大阪府高槻市の体育館で主に活動をしている社会人フットサルチームです。アウエルの試合結果はこちらから確認いただけます！" %>

<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>試合結果<span>RESULT</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container-fuild minheight">
    <%= render 'shared/result' %>
</div>

