<% @title = "試合結果" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h1>試合結果<span>RESULT</span></h1>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<div class="container-fuild minheight">
    <%= render 'shared/result' %>
</div>

