<% @title = "試合結果" %>
<div class="jumbotron jumbotron-fluid jumbotron-other">
    <div class="inner">
        <h2>試合結果<span>RESULT</span></h2>
        <%= render '/shared/hometag' %>
    </div>
</div>
<div class="cantainer-fuild container-other">
</div>
<%= render 'results/result' %>
