.gamedatas {
    border: 0px none;
    margin-top: 70px;
    margin-bottom: 50px;
}

.gamedatas th {
    font-size: 15px;
}

.gamedatas a {
    color: 	#000;
}

.gamedatas a:hover {
    color: 	#CC3333;
}

.resultshow h2 {
    padding-bottom: 40px;
    font-family: 'Noto Serif JP', serif;
}

.return {
    margin: 20px;
}

.return a {
    color: #000;
}

.return a:hover {
    color: 	#CC3333;
}

.archives_return {
    text-align: center;
    padding-bottom: 20px;
}

.archives_return a {
    color: #000;
}

.archives_return a:hover {
    color: 	#CC3333;
}

.log a{
    color: 	#000;
}

.log a:hover {
    color: 	#CC3333;
}

.log h4 {
    font-size: 21px;
}
