.gamedatas {
    border: 0px none;
    margin-top: 70px;
    margin-bottom: 50px;
}

.gamedatas th {
    font-size: 15px;
}

.resultshow h2 {
    padding-bottom: 40px;
    font-family: 'Noto Serif JP', serif;
}

.return {
    margin: 20px;
}

.return a {
    color: #000;
}

.return a:hover {
    color: 	#CC3333;
}